<section class="galaxy_section-bg">

  <div class="custom_slide-box">
    <div class="mySlides animated">
      <div class="custom-overlay"></div>
      <%= image_tag 'slide1.png' %>
      <div class="carousel-caption">
        <h2 class="animated fadeInUp">Lorem ipsum <i>dolor</i></h2>
        <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit 
        Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <p class="animated fadeInUp">
          <%= link_to 'Learn More', '#', class: 'learn-more' %>
        </p>
        <%= link_to '#', class: 'scroll-next' do %>
          <div class="show_hidden-field-btn animated fadeInUp">
            <%= image_tag 'chevron.png', class: 'down-arrow' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mySlides animated">
      <div class="custom-overlay"></div>
      <%= image_tag 'slide2.png' %>
      <div class="carousel-caption">
        <h2 class="animated fadeInUp">Lorem ipsum <i>dolor</i></h2>
        <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit 
        Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <p class="animated fadeInUp">
          <%= link_to 'Learn More', '#', class: 'learn-more' %>
        </p>
        <%= link_to '#', class: 'scroll-next' do %>
          <div class="show_hidden-field-btn animated fadeInUp">
            <%= image_tag 'chevron.png', class: 'down-arrow' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mySlides animated">
      <div class="custom-overlay"></div>
      <%= image_tag 'slide3.png' %>
      <div class="carousel-caption">
        <h2 class="animated fadeInUp">Lorem ipsum <i>dolor</i></h2>
        <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit 
        Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <p class="animated fadeInUp">
          <%= link_to 'Learn More', '#', class: 'learn-more' %>
        </p>
        <%= link_to '#', class: 'scroll-next' do %>
          <div class="show_hidden-field-btn animated fadeInUp">
            <%= image_tag 'chevron.png', class: 'down-arrow' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mySlides animated">
      <div class="custom-overlay"></div>
      <%= image_tag 'slide4.png' %>
      <div class="carousel-caption">
        <h2 class="animated fadeInUp">Lorem ipsum <i>dolor</i></h2>
        <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <p class="animated fadeInUp">
          <%= link_to 'Learn More', '#', class: 'learn-more' %>
        </p>
        <%= link_to '#', class: 'scroll-next' do %>
          <div class="show_hidden-field-btn animated fadeInUp">
            <%= image_tag 'chevron.png', class: 'down-arrow' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="image_slider-button-box" >
      <button class="slide-btn" onclick="plusDivs(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 330 330" xml:space="preserve" width="512px" height="512px">
          <g transform="matrix(-1 1.22465e-16 -1.22465e-16 -1 330 330)">
            <path d="M325.606,154.392l-130-129.999c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l104.395,104.396  l-263.79,0.014C6.715,150.016,0,156.732,0,165.016c0,8.284,6.717,15,15.001,14.999l263.784-0.014L174.394,284.393  c-5.858,5.858-5.858,15.355,0,21.213C177.322,308.535,181.161,310,185,310s7.678-1.465,10.606-4.394l130-130.001  c2.813-2.813,4.394-6.628,4.394-10.606S328.42,157.205,325.606,154.392z" data-original="#000000" class="active-path" fill="#000000"/>
          </g>
        </svg>
      </button>
      <button class="slide-btn" onclick="plusDivs(1)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 330 330" xml:space="preserve" width="512px" height="512px">
          <g>
            <path d="M325.606,154.392l-130-129.999c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l104.395,104.396  l-263.79,0.014C6.715,150.016,0,156.732,0,165.016c0,8.284,6.717,15,15.001,14.999l263.784-0.014L174.394,284.393  c-5.858,5.858-5.858,15.355,0,21.213C177.322,308.535,181.161,310,185,310s7.678-1.465,10.606-4.394l130-130.001  c2.813-2.813,4.394-6.628,4.394-10.606S328.42,157.205,325.606,154.392z" data-original="#000000" class="active-path" fill="#000000"/>
          </g>
        </svg>
      </button>
    </div>
  </div>
</section>

<section class="galaxy_section-content">
  <%= link_to '#', class: 'scroll-prev' do %>
    <div class="show_top-hidden-field-btn">
      <%= image_tag 'white_chevron.png', class: 'up-arrow' %>
    </div>
  <% end %>

  <div class="inner-content-section">
    <div class="box-content">
      <div class="small_text">THE STORY</div>
      <h1 class="content-heading ">Pellentesque molestie</h1>

      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h1 class="content-heading ">Nunc laoreet libero</h1>

      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="earth-img-box">
      <%= image_tag 'earth.png', class: 'earth' %>
    </div>
    <div class="box-content">
      <div class="small_text">TEOTC BRAND</div>

      <h1 class="content-heading ">Nunc laoreet libero</h1>

      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <div class="small_text">NETTGRAV AS</div>
      <p class="content-pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
      <%= link_to 'Learn more', '#', class: 'small_text' %>
    </div>
  </div>
</section>


<script type="text/javascript">
  $('html,body').animate({ scrollTop: $('body').offset().top }, 'slow');

  $(function() {
    $('body').css('backgroundColor','#000000')
    $(".preload").fadeOut(1000, function() {
      $(".content").fadeIn(1000);        
    });
  });

  $('#logo_link').click(function() {
    location.reload();
  });

  window.onload = function(){
    $('.logo_box-img').addClass('top-logo');
    setTimeout(function(){
      $('.carousel');
    }, 400);
  };


  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
  }

  function resize() {
    var vheight = $(window).height();
    var vwidth = $(window).width();
    $('.fullsize-background').css({
      'height': vheight,
      'width': vwidth 
    });
  };

  function scrollUp() {
    var vheight = $(window).height();
    $('html, body').animate({
      scrollTop: (Math.ceil($(window).scrollTop() / vheight)-1) * vheight
    }, 500);
  };

  function scrollDown() {
    var vheight = $(window).height();
    $('html, body').animate({
      scrollTop: (Math.floor($(window).scrollTop() / vheight)+1) * vheight
    }, 500);  
  };

  $(document).ready(function(){
    
    resize();
    
    $('.scroll-next').click(function(event){
      scrollDown();
      event.preventDefault();
    });
    
    $('.scroll-prev').click(function(event){
      scrollUp();
      event.preventDefault();
    });
    
  });

  $(window).resize(function(){
    
    resize();
    
  });
</script>
